<div class="header">
    <div class="navigation-buttons">
        <button class="custom-button" routerLinkActive="active" routerLink="/reminders"> 
            <mat-icon>alarm</mat-icon>
            <span>Напоминания</span>
        </button>
        <button class="custom-button" routerLinkActive="active" routerLink="/notes">
            <mat-icon>notes</mat-icon>
            <span>Заметки</span>
        </button>
        <button class="custom-button" routerLinkActive="active" routerLink="/tags">
            <mat-icon>tag</mat-icon>
            <span>Теги</span>
        </button>
    </div>
</div>