.main-page-header {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.buttons-action{
    display: flex;
    justify-content: space-evenly;
    width: 20vw;
}

.notes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}