<div class="new-note">
    <form class="form-new-note" [formGroup]="formNewNote" (ngSubmit)="submit()">
        <input class="input-title" type="text" placeholder="Заголовок заметки" formControlName="title" />
        <textarea class="textarea-content" type="text" placeholder="Содержимое заметки" cdkTextareaAutosize
            formControlName="content"></textarea>
        <mat-form-field>
            <mat-label>Теги</mat-label>
            <mat-select formControlName="tags" multiple>
                <mat-option *ngFor="let tag of tags" [value]="tag">{{tag.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button class="custom-button" (click)="setReminder()" *ngIf="!isSetReminder">
            <mat-icon>add</mat-icon>
            <span>Создать напоминание</span>
        </button>
        <div class="create-reminder" *ngIf="isSetReminder">
            <mat-form-field>
                <mat-label>Напоминание</mat-label>
                <input matInput type="datetime-local" formControlName="date">
            </mat-form-field>
            <button class="custom-button" (click)="deleteReminder()" matTooltip="Удалить напоминание"
                style="position: absolute;top: 1.5vh;right: 0.5vw;">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <button class="custom-button" [disabled]="formNewNote.invalid" type="submit">Сохранить</button>
    </form>
</div>